--extra-index-url https://download.pytorch.org/whl/cu116
altair
astor
attrs
audioread
backports.zoneinfo
base58
blinker
cachetools
cffi
charset-normalizer
click
cycler
decorator
fonttools
gitdb
GitPython
idna
importlib-metadata
importlib-resources
Jinja2
joblib
jsonschema
kiwisolver
lazy_loader
librosa
llvmlite
markdown-it-py
MarkupSafe
matplotlib
mdurl
msgpack
numba
numpy
packaging
pandas
Pillow
pkgutil_resolve_name
platformdirs
pooch
protobuf
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
resampy
rich
scikit-learn
scipy
seaborn
six
smmap
soundfile
soxr
streamlit
tenacity
threadpoolctl
toml
toolz
torch
torchaudio
torchvision
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
xgboost
zipp
